DEBUG=True
SECRET_KEY=change-this-secret-key

DB_NAME=python_drf_101_db
DB_USER=python_drf_101_postgres
DB_PASSWORD=python_drf_101_postgres
DB_HOST=localhost
DB_PORT=54321

POSTGRES_CONTAINER_NAME=python_drf_101_postgres_container
POSTGRES_USER=python_drf_101_postgres
POSTGRES_PASSWORD=python_drf_101_postgres
POSTGRES_DB=python_drf_101_db
POSTGRES_PORT=54321
